         .home {
             background-image: url(./imgs/sudarshan_web_profile.jpg);
             background-size: cover;
             background-position: center;
             font-family: lato;
             background-repeat: no-repeat;
             height: 100vh;
         }
         
         body {
             font-family: lato;
         }
         
         .home-text {
             text-align: right;
             position: absolute;
             bottom: 0;
             margin-bottom: 55px;
             color : white; 
             text-shadow : 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;


             /*   -webkit-text-stroke-width : 2px;
             -webkit-text-stroke-color : black; */


    
         }
         
         .title-text {
             text-align: center;
         }
         
         .profile-content {
             margin-top: 60px;
             margin-bottom: 60px;
         }
         
         .profile-pic {
             vertical-align: middle;
             border: 0;
         }
         
         hr {
             border-top: 1px solid #f8f8f8;
             border-bottom: 1px solid rgba(0, 0, 0, 0.2)
         }
         
         .hyp-color {
             color: #007bff;
         }
         
         .color-primary {
             color: #3377cc;
         }
         
         .selected {
             color: #3377cc;
         }
         
         .carrer-item {
             margin-bottom: 10px;
         }
         
         .carrer {
             margin-top: 25px;
             margin-bottom: 25px;
         }
         
         .exp-titls {
             margin-top: 25px;
         }
         
         .exp-edu-title {
             margin-bottom: 15px;
         }
         
         .checked {
             color: orange;
         }
         
         .starts {
             display: inline-block;
         }
         
         .skill-list-item {
             right: 0;
             position: absolute;
         }
         
         .contact {
             color: #fff;
             padding-top: 50px;
         }
         
         .contact-div {
             padding-top: 15px;
             padding-bottom: 15px;
             font-size: x-large;
         }
         
         .white-text {
             color: #fff;
         }
         
         .twitter {
             margin-top: 15px;
             margin-bottom: 35px;
         }
         
         table-right {
             margin-right: 250px;
         }
         
         table-left {
             margin-left: 250px;
         }
         
         #experience {
             background-color: transparent;
         }